strict-ssl=false
registry=https://abe-nrepo.azure-paas.intraxa/repository/npm-group/
sass_binary_site=https://abe-nrepo.azure-paas.intraxa/repository/raw-hosted/node-sass
phantomjs_cdnurl=https://abe-nrepo.azure-paas.intraxa/repository/raw-hosted/phantomjs